.AboutMissions {
      background: linear-gradient(    to bottom,
    rgb(255,255,255) 0%,         /* верх */
    rgb(240,245,255) 30%,        /* плавный переход к середине */
    rgb(200,225,255) 50%,        /* центр (основной другой цвет) */
    rgb(240,245,255) 70%,        /* плавный возврат */
    rgb(255,255,255) 100% );

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .missions {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: white;
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
    padding: 0 clamp(20px, 5vw, 100px);
    margin-top: 35px;
    h1 {
      font-size: clamp(16px, 5vw, 32px);
      font-weight: bold;
    }
    h1:first-child {

    }
    span {
        line-height: clamp(12px, 7vw, 36px);
        font-size: clamp(12px,2.5vw,24px);
        
    }
  }
  .small {
    height: 200px;
  }
}
