.HeroLandingPage {
  background: linear-gradient(to bottom right,
          rgb(212, 232, 255) 0%,
          rgb(216, 234, 255) 30%,
          rgb(175, 213, 255) 70%,
          rgb(251, 253, 255) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;



  .Hero_start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    padding: 0 200px;
    text-align: center;

    .main_title {
      font-size: 96px;
      font-weight: 800;
    }

    .stay_focused {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.57);
      width: 650px;
    }

    .Hero_button {
      cursor: pointer;
      padding: 16px 40px;
      border-radius: 40px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      font-size: 24px;
      margin-top: 40px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0.215) 68.53%);
    }

    .Hero_button:hover {
      background: rgba(255, 255, 255, 0.35);
    }
  }

  // bubble
  .Hero_start::before, .Hero_start::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
  }

  .Hero_start::before {
    top: 40%;
    left: 14%;
    width: 190px;
    height: 190px;
  }

  .Dashboard {
    margin: 0 80px;
  }

}

