.RegistrationPage {
    background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,      
    rgb(255, 255, 255) 10%,     
    rgb(220, 235, 255) 30%,     
    rgb(200, 225, 255) 60%,     
    rgb(160, 205, 255) 100%     );
    height: 100vh;
    display: grid;
    place-items: center;
}