/* Core styles */
.SolutionsLandingPage {
  /* background: #ccc; */
  padding-top: 10em;
  background: linear-gradient(to top right,
          rgb(212, 232, 255) 0%,
          rgb(216, 234, 255) 30%,
          rgb(175, 213, 255) 70%,
          rgb(251, 253, 255) 100%);

  .fw-black {
    font-weight: 900 !important;
  }

  /* Main text */
  .text-primary {
    color: #5CA9FF !important;
  }

  .text-dark {
    color: #000 !important;
  }

  .solutions_card {
    padding-bottom: 4rem;
    position: relative;
    .card__items {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      .row{
        width: 100%;
      }
    }

    .card__item {
      position: relative;
      background-color: #fff;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 323px;
      height: 326px;
      top: 30px;
      left: 40px;
      overflow: visible;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }


    .card__item:hover {
      transform: scale(1.1);
    }

    .card__title {
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 800;
      text-align: right;
    }

    .card__description {
      font-size: 14px;
      font-weight: 450;
    }

    .card__item {
      position: relative;
      background: #fff;
      border-radius: 16px;
      padding: 2rem;
      box-shadow: 5px 0px 18.4px 0px #00000012;
      overflow: visible;
    }

    /* Card image */


    .solution-avatar {
      position: absolute;
      top: -40px;
      left: -50px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }

    .img-sm {
      width: 100px;
      height: 100px;
    }

    // background Circle
    .bgCircle {
      content: url("../../../images/backgroundCircle.png");
      width: 1020px;
      position: absolute;
      bottom: 0;
      left: 170px;
    }

  }

  .col-3 {
    margin: 40px;
  }

}

