.SolutionSection {
  background: linear-gradient(
    to bottom right,
    rgb(212, 232, 255) 0%,
    rgb(216, 234, 255) 30%,
    rgb(175, 213, 255) 70%,
    rgb(251, 253, 255) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: relative;
  .title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;

    .imageBox {
      width: 550px;
      height: 350px;
      background: #d3d3d3;
      position: relative;
    }

    .textBox {
      max-width: 450px;

      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .lineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    .dot {
      width: 12px;
      height: 12px;
      background: white;
      border: 2px solid #5a5a5a;
      border-radius: 50%;
    }

    .line {
      width: 2px;
      height: 60px;
      background: #c1bfbf;
    }
  }
   transition: 0.1s ease;
  .lineContainer {
    .dot {
      transition: 1s;
      background: white;
      border: 2px solid #5a5a5a;

      &.activeDot {
        background: #99999a;
        border-color: #99999a;
        transform: scale(2);
      }
    }
  }
}

.SolutionsPage {
  position: relative;
}
.stickyWrapper {
  position: sticky;
  top: 0;
  height: 100vh;  
  overflow: hidden;
}
.scrollSpace {
  height: 300vh;  
}
.SolutionSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
