.AboutTitle {
  background: linear-gradient(
                  to bottom,
                  rgb(255, 255, 255) 0%,
                  rgb(255, 255, 255) 10%,
                  rgb(220, 235, 255) 30%,
                  rgb(200, 225, 255) 60%,
                  rgb(160, 205, 255) 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;

  h1 {
    font-size: clamp(28px, 5vw, 46px);
    font-weight: bold;
    text-align: center;
    margin-top: clamp(4px, 2vw, 10px);

  }

  .title_image {
    border-radius: 15px;
    background-color: white;
    width: clamp(150px, 50vw, 250px);
    height: clamp(150px, 50vw, 250px);
    transition: all 0.3s ease;
    overflow: hidden; /* чтобы не вылезала */
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: clamp(14px, 2vw, 22px);
    font-weight: bold;
    text-align: center;
  }

  span {
    font-size: clamp(14px, 2vw, 20px);
    display: block;
    text-align: center;
  }

  .social_medias {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .card_about {
    width: 25%;
    margin-top: 10px;
  }

  .title_image:hover {
    width: clamp(175px, 50vw, 275px);
    height: clamp(175px, 50vw, 275px);
    transition: all 0.3s ease;
  }

  .titles {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
  }

  .media {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.392);
    backdrop-filter: blur(12px);
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;


  }

  .media:last-child img {
    width: 25px;
    height: 25px;
  }

  .media:first-child:active::after {
    content: 'Copied';
    position: absolute;
    bottom: -10px;
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  .media:first-child::after {
    content: 'Copied';
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}