.AboutTitle {
background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,      
    rgb(255, 255, 255) 10%,     
    rgb(220, 235, 255) 30%,     
    rgb(200, 225, 255) 60%,     
    rgb(160, 205, 255) 100%     );

display: flex;
flex-direction: column;
justify-content: center;
padding: 0 50px;
h1 {
font-size: clamp(28px, 5vw, 46px);
    font-weight: bold;
    text-align: center;
margin-top: clamp(4px, 2vw, 10px);

}
.title_image {
    border-radius: 15px;
    background-color: white;
     width: clamp(175px, 50vw, 350px);
    height: clamp(100px, 50vw, 200px);
    transition: all 0.3s ease;
}
p {
font-size: clamp(14px, 2vw, 22px);
    font-weight: bold;
}
span {
font-size: clamp(14px, 2vw, 20px);

}
.social_medias {
    display: flex;
    gap: 30px;
}
.card_about {
  width: clamp(200px, 50vw, 400px);
   margin-top: 10px;
}
.title_image:hover {
    width: clamp(220px, 50vw, 375px);
    height: clamp(120px, 50vw, 220px);
    transition: all 0.3s ease;
}
.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}