.AboutTitle {
background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,      
    rgb(255, 255, 255) 10%,     
    rgb(220, 235, 255) 30%,     
    rgb(200, 225, 255) 60%,     
    rgb(160, 205, 255) 100%     
);
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 50px;
h1 {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}
.title_image {
    border-radius: 15px;
    background-color: white;
    width: 350px;
    height: 200px;
}
p {
    font-size: 22px;
    font-weight: bold;
}
span {
    font-size: 20px;
}
.social_medias {
    display: flex;
    gap: 30px;
}
.card_about {
   width: 400px;
   margin-top: 10px;
}
.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}